.controller {
    left: 0;
    width: 30%;
    height: 333px;
    float:left;
    border: black;
    border-radius: 20px;
    padding-bottom: 5%;
    padding-top: 5px;
}

.x-input, .y-input {
    position: relative;
    top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.x-label, .y-label {
    position: static;
    margin-right: 100px;
    font-size: 22px;
}

.x-value, .y-value {
    position: static;
    width: 130px;
    border: none;
    border-radius: 5px;
    color: #4b61cf;
    padding: 5px 10px;
}


.r-input {
    display: flex;
    align-items: center;
    padding-left: 40px;
    position: relative;
    top: 40px;
    margin-bottom: 20px;
}


.r-label {
    position: static;
    margin-right: 100px;
    font-size: 22px;
}


.r-checkbox-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 130px;
    height: 33.6px;
    padding: 5px 10px;
    background-color: transparent;
}


.r-checkbox-item {
    display: flex;
    align-items: center;
    gap: 3px;
}


.r-checkbox-item label {
    color: black;
    font-size: 16px;
    cursor: pointer;
}


.r-checkbox {
    display: none;
}

.submit-button-block {
    position: relative;
    top: 120px;
    width: fit-content;
    margin: auto;
    display: flex;
}

.submit-button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.submit-button:disabled {
    background: gray;
}

